---
layout: home
---

{% for post in paginator.posts %}
<table>
<tr>
<th colspan="2"><a href='{{ site.url }}{{ post.url }}'><h2>{{ post.title }}</h2></a></th>
</tr>
<tr>
<td colspan="2">
<a href='{{ site.url }}{{ post.url }}'>
{% if post.image %}    
<img class="post-image" src="{{ post.optimized_image }}" data-src="{{ post.image }}" alt="{{ post.title }}'s Featured Photo">
{% else %}
<img class="post-image" src="{{ site.url }}/assets/img/off.jpg" alt="No Featured Photo Available"> 
{% endif %}
</a>
</td>
</tr>
<tr>
<th> 
{% assign category = site.categories | where: 'short_name', page.category | first %}
{% if category %}
<a href="{{ site.url }}{{ category.url }}">{{ category.name }}</a>
{% endif %}
</th>
<th> <p>{{ post.date | date: '%B %d, %Y' }}</p> </th>
</tr>
<tr>
<td colspan="2">
<p>
{% assign author = site.authors | where: 'short_name', page.author | first %}
{% if author %}
<a href="{{ site.url }}{{ author.url }}">{{ author.name }}</a>
{% endif %}<br>
{{ post.excerpt | strip_html | truncate: 250 }} <a class="more" href="{{ site.url }}{{ post.url }}">more</a>
</p>
</td></tr>
</table>
{% endfor %}

{% include pagination.html %}
