<center><p><b>NO ADS, NO DISTRACTIONS</b></p></center>
<center><h4>Quick Links</h4></center>
<center><a href="{{site.baseurl | perpend: site.url}}">Home,</a> <a href="{{site.baseurl | perpend: site.url}}/about/">About,</a> <a href="{{site.baseurl | perpend: site.url}}/contact/">Contact,</a> <a href="{{site.baseurl | perpend: site.url}}/sitemap/">Sitemap</a></center>
<center><p><b>©{{ 'now' | date: "%Y" }} {{ site.name }}</b></p>, {% include links.html %}</center>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ site.name }}",
  "description": "{{ site.description }}",
  "url": "{{ site.url }}{{site.baseurl}}/",
  "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{site.baseurl}}/assets/img/icons/mediumtile.png",
      "width": "600",
      "height": "315"
  },
  "sameAs": [
    {{ social_urls | split: "," | join: "," }}
  ]
}
</script>
