<center><p><b>NO ADS, NO DISTRACTIONS</b></p></center>
<center><h4>Quick Links</h4></center>
<center><a href="{{site.url}}">Home,</a> <a href="{{site.url}}/about/">About,</a> <a href="{{site.url}}/contact/">Contact,</a> <a href="{{site.url}}/sitemap/">Sitemap</a></center>
<center><p><b>©{{ 'now' | date: "%Y" }} {{ site.name }}</b></p> {% include links.html %}</center>
<script defer type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ site.name }}",
  "description": "{{ site.description }}",
  "url": "{{ site.url }}/",
  "logo": {
      "@type": "ImageObject",
      "url": "{{ "/assets/img/icons/ms-icon-144x144.png"  | prepend: "site.url" }}",
      "width": "600",
      "height": "315"
  }
</script>
<script src="{{ "/assets/js/app.js" | prepend: "site.url" }}"></script>
