<footer>
  <div class="footercontainer">
  
    <h5 class="w100 block">NO ADS, NO DISTRACTIONS</h5>
    <a class="sponsor" href="https://www.buymeacoffee.com/2haas"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a color&emoji=🖌️&slug=2haas&button_colour=000000&font_colour=ffffff&font_family=Lato&outline_colour=ffffff&coffee_colour=FFDD00"></a>
    <h6 class="w100 block">Quick Links</h6>
    <nav class="w100">
      <div class="footnav w50">
        <p><a href="{{site.baseurl | prepend: site.url}}">Home</a></p>
        <p><a href="{{site.baseurl | prepend: site.url}}/about/">About</a></p>
        <p><a href="{{site.baseurl | prepend: site.url}}/contact/">Contact</a></p>
        <p><a href="{{site.baseurl | prepend: site.url}}/sitemap/">Sitemap</a></p>
      </div>
      <div class="footnav w50">
        <p><a href="{{ site.baseurl | prepend: site.url }}/policy/">Policy</a></p>
        <p><a href="{{ site.baseurl | prepend: site.url }}/cookie-policy/">Cookie Policy</a></p>
        <p><a href="{{ site.baseurl | prepend: site.url }}/privacy-policy/">Privacy Policy</a></p>
        <p><a href="{{ site.baseurl | prepend: site.url }}/disclaimer/">Disclaimer</a></p>
        <p><a href="{{ site.baseurl | prepend: site.url }}/terms-conditions/">Terms and Conditions</a></p>
      </div>
    </nav>
    <div class="block w100 footcopy">
      <p>
        ©{{ 'now' | date: "%Y" }}
        <a href="{{site.baseurl | prepend: site.url}}">
          {{ site.name }}
        </a>
      </p>
    </div>

  </div>
</footer>
