<header>
  <div class="logo1 midcenter">
    {%- include 2HAAS_LOGO.html -%}
  </div>
  <div class="logo2 midcenter">
    <a href="{{site.baseurl | prepend: site.url}}">{{site.name}}</a>
  </div>
  <div class="headbar">
  <div class="pcsearchbtn">
    <a href="{{site.baseurl | prepend: site.url}}/search">
      <button class="pcsbtn">
        {%- include search-solid.html -%} Search
      </button>
    </a>
  </div>
  <div class="pcnav">
    <a class="head-item" href="{{ site.baseurl | prepend: site.url }}"> {%- include home-solid.html -%} </a>
    <a class="head-item" href="{{ site.baseurl | prepend: site.url }}/categories/"> {%- include tags-solid.html -%} </a>
    <a class="head-item" href="{{ site.baseurl | prepend: site.url }}/contact/"> {%- include paper-plane-solid.html -%} </a>
    <a class="head-item" href="{{ site.baseurl | prepend: site.url }}/staff/"> {%- include user-regular.html -%} </a>
  </div>
  </div>
</header>
