<!-- fixed bottom navbar -->
	<div class="navbar">
		<div class="nav-item center"> <a href="{{ site.baseurl }}"> <i class="fas fa-home"></i> </a> </div>
		<div class="nav-item center"> <a href="{{ site.baseurl | prepand: site.url }}/search/"> <i class="fas fa-search"></i> </a> </div>
		<div class="nav-item center"> <a href="{{ site.baseurl | prepand: site.url }}/categories/"> <i class="fas fa-tags"></i> </a> </div>
		<div class="nav-item center"> <a href="{{ site.baseurl | prepand: site.url }}/contact/"> <i class="fas fa-paper-plane"></i> </a> </div>
		<div class="nav-item center"> <a href="{{ site.baseurl | prepand: site.url }}/staff/"> <i class="fas fa-user"></i> </a> </div>		
	</div>
