<!-- fixed bottom navbar -->
	<div class="navbar">
		<a href="{{ site.baseurl }}"><div class="nav-item center"> <i class="fas fa-home"></i> </div> </a>
		<a href="{{ site.baseurl | prepand: site.url }}/search/"> <div class="nav-item center"> <i class="fas fa-search"></i> </div> </a>
		<a href="{{ site.baseurl | prepand: site.url }}/categories/"><div class="nav-item center"> <i class="fas fa-tags"></i> </div> </a>
		<a href="{{ site.baseurl | prepand: site.url }}/contact/"> <div class="nav-item center"> <i class="fas fa-paper-plane"></i> </div> </a>
		<a href="{{ site.baseurl | prepand: site.url }}/staff/"> <div class="nav-item center"> <i class="fas fa-user"></i> </div> </a>		
	</div>
