//home page footer / sidebar author
aside{
	.footauthors{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		height: auto;
		overflow-x: auto;
		.container{
			display: flex;
			flex-direction: column;
			width:100px;
			.sideauthimg{
				width: 100px;
				height: 60px;
				display: block;
				padding: 5px 25px;
				img{
					object-fit: scale-down;
				}
			}
			.proimg{
				width: 50px;
				height: 50px;
				img{
					object-fit: scale-down;
					border: 3px solid #9999ff;
				}
			}
			.proname{
				color: #0e0e0e;
				font:{
					size:10px;
					family: $text-font;
				}
			}
		}
	}
}
// author page
article{
	.idcontainer{
		display: flex;
		flex-direction: row;
		padding:10px 0;
	}
	.proimg{
		width: 30%;
		height:auto;
		img{
			object-fit: scale-down;
			border: 3px solid #9999ff;
			border-radius: 50%;
		}
	}
	.proid{
		display: flex;
		flex-direction: column;
		.proname{
			color:#000000;
			font:{
				size: 20px;
				family:$text-font;
				weight:200;
			}
		}
		.proposition{
			color: #636363;
			font:{
				size: 15px;
				family:$text-font;
				weight:200;
			}
		}
	}
}
