footer{
  width: 100%;
  .footercontainer{
    width: 95%;
    display: block;
    margin: 0 auto;
  }
  h5, h6{ padding: 5px 0;}
  nav{
    display: flex;
    flex-direction: row;
    .footnav{
      display: flex;
      flex-direction: column;
      p{
        padding: 5px;
        margin: 2px 0;
        word-wrap: break-word;
        font:{
          size:15px;
          family: $text-font;
          weight:600;
        }
      }
    }
  }
  .footcopy{
    word-spacing: 5px;
    padding: 10p;
    p{
      size: 1rem;
      weight: 200;
      family: $text-font;
      a{
        font:{
          size: 1rem;
          weight: bold;
          family: $logo-font;
        }
      }
    }
  }
}
