.main{
	width: 100%;
	margin-top: 70px;
}
@media only screen and (max-width:600px){
	.main{
		padding-bottom: 70px;
	}
}
@media only screen and (min-width:601px){
	.main{
		padding-bottom: 30px;
	}
}
@media only screen and (min-width:601px) and (max-width:900px){
  .row{
    width: 100%;
		display:inline-block;
  	.middle{
  		width: 70%;
  		margin: 0 auto;
  	}
  }
}
@media only screen and (min-width:901px){
	.main-container{
		width: 80%;
		margin: 0 10%;
	}
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	.middle{
		float: left;
		margin: 0 auto;
	}
	.column1{
		width: 60%;
	}
	.column2{
		width: 30%;
	}
}
