

/* for smartphone screen */
@media only screen and (max-width:600px){
.post-container{
	width: 100%;
	padding-bottom: 10px;
	background-color:#fff;
        margin-bottom: 15px;
	border: 1px solid #f6f6f6;
}
}

/* For table screen */

@media only screen and (max-width:900px){
.main{
	margin-bottom: 50px;
}
}
@media only screen and (min-width:601px) and (max-width:900px){

.middle{
	display:inline-block;
	width: 70%;
	margin-left: 15%;
	margin-left: 15%;
}
.post-container{
	display:inline-block;
	position:center;
	width: 100%;
	padding-top:4px;
	padding-bottom:20px;
	background-color:#fff;
	margin-bottom: 25px;
	border: 1px solid #f6f6f6;
}
}


/* for desktop screen */

@media only screen and (min-width:901px){
	
.main{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.column1{
	float: left;
	width: 60%;
	margin-top: 20px;
}
.column2{
	float: left;
	width: 30%;
	margin-top: 20px;
	margin-left: 10%;
	overflow-y: auto;
}

.post-container{
	display:block;
	position:center;
	width: 100%;
	padding-top:4px;
	padding-bottom:20px;
	background-color:#fff;
	margin-bottom: 25px;
	border: 1px solid #f6f6f6;
}
}
