.pagination a:hover{text-decoration:none}
.pagination a:hover{text-decoration:underline}
.pagination{list-style:none;margin-left:0}
.pagination{display:table;margin:0 auto}
.pagination{display:table;margin:0 auto}
.pagination li{float:left;margin:5px 10px 5px 0}
.pagination li:last-of-type{margin-right:0}
.pagination li a{display:block;padding:7.5px;border:1px solid #e8e8e8}
.pagination li a:hover{border-color:#dbdbdb}
.pagination{margin-bottom:30px}
.pagination li a,.pagination li div{min-width:41px;text-align:center;box-sizing:border-box}
.pagination li div{display:block;padding:7.5px;border:1px solid transparent}
.pagination li div.pager-edge{color:#e8e8e8;border:1px dashed}