---
layout: default
---
<div class="row">
  <article class="middle column1">
    <div class="idcontainer w100">
      <div class="proimg">
        <center>
          <img src="{{ page.profile_image }}" alt="{{page.name}}'s profile picture" width="50" height="50"/>
        </center>
      </div>
      <div class="proid midcenter">
        <div class="w100 block">
          <h1 class="proname">{{ page.name }}</h1>
        </div>
        <div class="w100 block">
          <h2 class="proposition">{{ page.position }}</h2>
        </div>
      </div>
    </div>
  </article>

<aside class="middle column2">
  <center>
    <div class="btnscontainer">
      {%- if page.facebook_username -%}
      <a class="idfb" href="https://facebook.com/{{page.facebook_username }}">{%- include facebook.html -%}</a>
      {%- endif -%}
      {%- if page.twitter_username -%}
      <a class="idtwitter" href="https://twitter.com/{{page.twitter_username }}">{%- include twitter.html -%}</a>
      {%- endif -%}
      {%- if page.instagram_username -%}
      <a class="idinsta" href="https://instagram.com/{{page.instagram_username }}">{%- include instagram.html -%}</a>
      {%- endif -%}
    </div>
  </center>
</aside>
</div>


<div class="row">
  <article class="middle column1">
    <h2 class="propost">Posts</h2>
    
    {%- assign filtered_posts = site.posts | where: 'author', page.short_name -%}
      <div class="tableflow">
      {%- if filtered_posts.size > 0 -%}
        <table class="cattable">
          {% tablerow post in filtered_posts cols:3 %}
            <a href="{{ post.url }}"><img loading="lazy" class="catlist" src="{{ post.image }}" alt="{{ post.title }}"></a>
          {% endtablerow %}
        </table>
    
        {%- else -%}
    
        <section>
        	<div class="headline-container">
        		<div class="headline">
              <h2>There Is No Post Available For Now in This Category..</h2>
        		</div>
        	</div>
      	</section>
    
      {%- endif -%}
      </div>
    </article>
    <aside class="middle column2">
      {%- include footer.html -%}
    </aside>
</div>