---
layout: default
---
<style>
  .propost{
    color:#000000;
    font-size: 25px;
    font-family:'Roboto', 'Galada', sans-serif;
    font-weight:800;
    }
  }
  .prodescription{
    color: #636363;
    font-size: 10px;
    font-family:'Roboto', 'Galada', sans-serif;
    font-weight:200;
    }
  }
</style>
<div class="row">
  <article class="middle column1">
    <center><h1 class="propost">Posts of {{ page.name | capitalized }}</h1>
    <p class="prodescription">{{ page.description }}</p></center>
    <ul>
      {% assign filtered_posts = site.posts | where: 'category', page.short_name %}
      {% for post in filtered_posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
</article>
<aside class="middle column2">
  {% include footer.html %}
</aside>
</div>
