---
layout: default
---
<div class="row">
<article class="middle column1">
{{content}}
</article>
<aside class="middle column2">
	<div class="footauthors">
		{% for author in site.authors %}
			<div class="container">
				<div class="sideauthimg">
					<a href="{{ author.url | prepend: site.baseurl | prepend: site.url }}">
						<img loading="lazy" class="proimg" src="{{ author.profile_image | prepend: site.baseurl | prepend: site.url }}" alt="{{author.name}}'s profile picture"/>
					</a>
				</div>
				<div class="w100 midcenter">
					<a href="{{ author.url | prepend: site.baseurl | prepend: site.url }}">
						<h6 class="proname wordwrap">
							{{ author.name }}
						</h6>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="w100 block">
		{% include footer.html %}
	</div>
</aside>
</div>
