---
layout: default
---

<article class="middle column1">

	{{ content }}

</article>

<aside class="middle column2">

	<div class="alhome">
		<table>
			<tr>
			{% for author in site.authors %}
	              	   <tr>
		<td rowspan="2">
			<a href="..{{ author.url | prepend: site.baseurl }}"><img class="proimg proimgbb" src="{{ author.profile_image }}"/></a>
		</td>
		<td>
			<a href="..{{ author.url | prepend: site.baseurl }}"><h1 class="proname">{{ author.name }}</h1></a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="..{{ author.url | prepend: site.baseurl }}"><h2 class="proposition">{{ author.position }}</h2></a>
		</td>
	</tr>
			{% endfor %}
	</tr>
	<tr>
	{% include links.html %}
	</tr>
		</table>
	</div>

</aside>

