---
layout: default
---
<article class="middle column1">
<table>
       
		<th colspan="2">
			<td><h1>{{ page.title }}</h1></td>
		</th><br>
		<tr colspan="2"></td>
			{% if page.image %}    
			<img src="{{ page.image }}" alt="Featured Photo">
			{% else %}
			<img src="{{ "/assets/img/off.jpg" | prepend: site.baseurl }}" alt="No Featured Photo Available"> 
			{% endif %} 
		</tr><br>
                <tr>
			<td> 
				<div class="post-categories">
					{% assign category = site.categories | where: 'short_name', page.category | first %}
                                {% if category %}
                                	<a href="{{ site.baseurl }}{{ category.url }}">{{ category.name }}</a>
                                {% endif %}
				</div>
                        </td>
			<td> {{ page.date | date: '%B %d, %Y' }} </td>
		</tr><br>
		<tr colspan="2">
			<p>
			{% assign author = site.authors | where: 'short_name', page.author | first %}
			{% if author %}
			<a href="{{ site.baseurl }}{{ author.url }}">{{ author.name }}</a>
			{% endif %}
			{{ content }}
			</p>

				{% if post %}
				{% assign tags = post.tags %}
				{% else %}
				{% assign tags = page.tags %}
				{% endif %}
				{% for tag in tags %}
					<a class="tags" href="{{site.baseurl}}/tags/#{{tag|slugize}}">#{{tag}}</a>
				{% unless forloop.last %}&nbsp;{% endunless %}
				{% endfor %}
		{% include comments.html %}
		{% include share.html %}
		</tr>
	
</table>
</article>

<aside class="middle column2">

		<div class="post-header"><center><h2>Read Next:</h2></center></div>
                      
                        {% assign next_posts = site.posts | where_exp:"post","post.path != page.path" %}
                        {% assign shuffled_array = next_posts | shuffle %}
                        {% for post in shuffled_array limit:3 %}
                            
				<div class="post-header">
                                	<a href="{{ site.baseurl }}{{ post.url }}">
			                      <h1>{{ post.title }}</h1>
                                        </a>
				</div><br>
				<div class="post-header">
                                         <a class="post-image" href="{{ site.baseurl }}{{ post.url }}">
			                 {% if post.image %}    
			                 <img src="{{ post.image }}">
			                 {% else %}
			                 <img src="{{ "/assets/img/off.jpg" | prepend: site.baseurl }}">
			                 {% endif %} 
                                         </a>
				</div><br>


                        {% endfor %}
	{% include links.html %}
</aside>
