---
layout: default
---
<div class="row">
<article class="middle column1">
<table>
       
		<tr>
			<th colspan="2"><h1>{{ page.title }}</h1></th>
		</tr>
		<tr>
			<td colspan="2">
			{% if page.image %}    
			<img src="{{ page.image }}" alt="{{ page.title }}'s Featured Photo">
			{% else %}
			<img src="{{ "/assets/img/off.jpg" | prepend: site.baseurl }}" alt="No Featured Photo Available"> 
			{% endif %}
			</td>
		</tr>
                <tr>
			<th> 
				{% assign category = site.categories | where: 'short_name', page.category | first %}
                                {% if category %}
                                	<a href="{{ site.baseurl }}{{ category.url }}">{{ category.name }}</a>
                                {% endif %}
            		</th>
			<th> <p>{{ page.date | date: '%B %d, %Y' }}</p> </th>
		</tr>
		<tr>
		<td colspan="2">
			<p>
			{% assign author = site.authors | where: 'short_name', page.author | first %}
			{% if author %}
			<a href="{{ site.baseurl }}{{ author.url }}">{{ author.name }}</a>
			{% endif %}
			{{ content }}
			</p>

				{% if post %}
				{% assign tags = post.tags %}
				{% else %}
				{% assign tags = page.tags %}
				{% endif %}
				{% for tag in tags %}
					<a class="tags" href="{{site.baseurl}}/tags/#{{tag|slugize}}">#{{tag}}</a>
				{% unless forloop.last %}&nbsp;{% endunless %}
				{% endfor %}
		{% include comments.html %}
		{% include share.html %}
		</td>
		</tr>
	
</table>
</article>

<aside class="middle column2">
<table>
	<tr>
		<th><h2>Read Next:</h2></th>
	</tr>
                        {% assign next_posts = site.posts | where_exp:"post","post.path != page.path" %}
                        {% assign shuffled_array = next_posts | shuffle %}
                        {% for post in shuffled_array limit:3 %}
	<tr>
		<th>
                                	<a href="{{ site.baseurl }}{{ post.url }}">
			                      <h1>{{ post.title }}</h1>
                                        </a>
		</th>
	</tr>
	<tr>
		<td>
                                         <a class="post-image" href="{{ site.baseurl }}{{ post.url }}">
			                 {% if post.image %}    
			                 <img src="{{ post.image }}">
			                 {% else %}
			                 <img src="{{ "/assets/img/off.jpg" | prepend: site.baseurl }}">
			                 {% endif %} 
                                         </a>
		</td>

	</tr>
                        {% endfor %}
	<tr><td>
	{% include links.html %}
	</td></tr>
</table>
</aside>
</div>
