---
layout: default
---
<article class="middle column1">

       <div role="article" class="post-container">
		<div class="post-header">
			<h1>{{ page.title }}</h1>
		</div><br>
		<div class="post-image">
			{% if page.image %}    
			<img src="{{ page.image }}" alt="Featured Photo">
			{% else %}
			<img src="{{ "/assets/img/off.jpg" | prepend: site.baseurl }}" alt="No Featured Photo Available"> 
			{% endif %} 
		</div><br>
                <div class="postinfo">
			<div class="postinfoitem"> 
				<div class="post-categories">
					{% assign category = site.categories | where: 'short_name', page.category | first %}
                                {% if category %}
                                	<a href="{{ site.baseurl }}{{ category.url }}">{{ category.name }}</a>
                                {% endif %}
				</div>
                        </div>
			<div class="postinfoitem"> {{ page.date | date: '%B %d, %Y' }} </div>
		</div><br>
		<div class="p-container">
			<p>
			{% assign author = site.authors | where: 'short_name', page.author | first %}
			{% if author %}
			<a href="{{ site.baseurl }}{{ author.url }}">{{ author.name }}</a>
			{% endif %}
			{{ content }}
			</p>

				{% if post %}
				{% assign tags = post.tags %}
				{% else %}
				{% assign tags = page.tags %}
				{% endif %}
				{% for tag in tags %}
					<a class="tags" href="{{site.baseurl}}/tags/#{{tag|slugize}}">#{{tag}}</a>
				{% unless forloop.last %}&nbsp;{% endunless %}
				{% endfor %}
		{% include comments.html %}
		{% include share.html %}
		</div>
	</div>

</article>

<aside class="middle column2">

		<div class="post-header"><h1><center>Read Next:</center></h1></div>
                      
                        {% assign next_posts = site.posts | where_exp:"post","post.path != page.path" %}
                        {% assign shuffled_array = next_posts | shuffle %}
                        {% for post in shuffled_array limit:3 %}
                            
					<div class="post-header">
                                            <a href="{{ site.baseurl }}{{ post.url }}">
			                        <h1>{{ post.title }}</h1>
                                            </a>
					</div><br>
		                  <div class="post-image">
                                         <a href="{{ site.baseurl }}{{ post.url }}">
			                 {% if post.image %}    
			                 <img src="{{ post.image }}">
			                 {% else %}
			                 <img src="{{ "/assets/img/off.jpg" | prepend: site.baseurl }}">
			                 {% endif %} 
                                         </a>
		            <br>


                        {% endfor %}
	{% include links.html %}
</aside>
